/* CSS/VIEWER.CSS
 *Photoalbum Viewer version 1.0.1 Stylesheet 
 *Develop by: sergey.sergyenko@gmail.com
 *Date: 2010-02-04 
  */ 
/*==========================================================================================================*/  
/*ОСНОВНЫЕ ПАРАМЕТРЫ*/

body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Calibri';				/* Шрифт текстов на сайте. В том числе логотипа */
	background: rgb(204,204,204);		/*  Цвет фона  */
}
#mainContainer{
	text-align: right;
	margin-top: 50px;					/*Отступ альбома сверху*/
	margin-bottom: 10px;				/*Отступ альбома снизу*/
	background: rgb(188,188,188);		/*  Цвет фона  */
}
#container{
	width: 850px;						/*Ширина фотографии*/
	height: 567px;	
}
#viewer{
	width: 850px;						/*Ширина фотографии*/
	height: 567px;						/*Высота фотографии*/
	position: relative;
}
#loader{
	
	font-weight: bold;
	font-size: 20px;
	width: 66px;
	height: 66px;
	left: 47%;
	top: 40%;
	text-align: center;
	padding-top: 40px;
	position: absolute;
	background: url('img/spinner.gif') no-repeat center;
}
#status{
	
}
.hMat {									/*Параметры вертикальных частей паспарту. Слева и справа*/
	width: 60px;						/*Ширина*/
	background: rgb(188,188,188);		/*Цвет*/
}
.vMat {									/*Параметры горизонтальных частей паспарту. Сверху и снизу*/
	height: 40px;						/*Высота*/
	background: rgb(188,188,188);		/*Цвет*/
}

/*==========================================================================================================*/
/*ЛОГОТИП*/

#logo{									
	text-align: left !important;		/*Выравнивание надписей относительно общей рамки*/
	background: rgb(204,204,204);		/*Цвет подложки. Такой же как и цвет фона*/
}
#logo table{								
	text-align: right !important;		/*Выравнивание по правому краю надписей логотипа*/
	margin-bottom: 7px;				/*Отступ логотипа от верхней границы паспарту*/
}
#logoName{								/*"СВЯТОСЛАВ ЗОРКИЙ"*/
	font-size: 17pt;					/*Рзамер шрифта*/
}
#logoName a{ 
	color: rgb(78,78,78);				/*Цвет*/
	text-decoration: none;
}
#logoSign {								/*"фотограф"*/
	font-size: 13pt;					/*Размер шрифта*/
}
#logoSign a{								
	color: rgb(140,140,140);			/*Цвет*/
	text-decoration: none;
	position: relative; top: -3px;	
}

/*==========================================================================================================*/
/*ПОДПИСИ СНИЗУ*/

#footer{								
	font-size: 11pt;					/*Размер шрифта всех подписей*/	
	background: rgb(204,204,204);		/*  Цвет фона  */
}
#footer table{							
	margin-top: 3px;					/*Отступ нижних подписей от нижней границы паспарту*/
	width: 100%;
}
#footer a {								/*Форматирование параметров для ссылок*/	
	color: rgb(140,140,140);			/*Цвет всех подписей*/
	text-decoration: none;
}
#slogan{								/*"...со мной Вам будет легко улыбаться"*/
	vertical-align: top !important;		/*Выравнивание вверх по вертикали*/
	text-align: left !important;		/*Выравнивание влево по горизонтали*/
}
#phone{									/*Телефон*/
	margin-top: 0px;					/*Отступ сверху*/
}
#website{								/*Веб-сайт*/
	position: relative; top: -4px;					/*Отступ сверху*/
}
#email{									/*Электронная почта*/
	position: relative; top: -8px;					/*Отступ сверху*/
}

/*==========================================================================================================*/
/*МЕНЮ АЛЬБОМОВ*/

.menu {
	vertical-align: bottom;				/*Выравнивание по вертикали*/
	}
.menu a{									
	margin-left: 1px;					/*Отступы между элементами меню. Определены по левому краю каждого*/
	padding: 0px 11px 1px 11px;			/*Ширина подсветки для выделенного элемента меню. Влияет на отступы*/
	font-size: 11pt;					/*Размер шрифта элементов меню*/
	color: rgb(78,78,78);				/*Цвет элементов меню*/
	text-decoration: none;				/*Заперт подчеркнутых ссылок для элементов меню*/
	position: relative; bottom: 7px;
	position: relative; right: 0px;
}
.selected {									/*Параметры выделенного элемента меню*/
	color: rgb(204,204,204) !important;		/*Цвет текста в элементе меню*/
	background: rgb(78,78,78) !important;	/*Цвет выделения элемента меню*/
}
.hidden{
	display: none;							/*Параметр, который определяет, что первый в настройках альбом должен быть скрытым*/
}
/*==========================================================================================================*/
/*ЭЛЕМЕНТЫ УПРАВЛЕНИЯ */

.control{								
				
}

.control a {
	font-size: 3px;						
	margin-left: 4px;					/*Отступы между элементами управления. Определены по левому краю каждого*/
	padding: 3px 8px 3px 8px;			/*Ширина и высота элементов управления. Начиная с верхнего отступа по часовой стрелке*/
	color: rgb(78,78,78);				/*Цвет текста в элементе управления. Избыточно. Не используется*/
	background: rgb(78,78,78);			/*Цвет элемента управления.*/
	position: relative; top: -11px;
	
}
.active{
	color: rgb(190,0,0) !important;
	background: rgb(190,0,0) !important; /*Цвет активного элемента управления*/
}

/*==========================================================================================================*/